h1 {
  color: rgba(0, 200, 100, 1);
  /* border-color: purple;
  border-width: 5px;
  border-style: solid; */
  border: 1px solid rgb(255, 100, 80);
}

li {
  color: #4b0082;
}

h4 {
  background: rgb(255, 100, 80);
}

body {
  /* background: url(https://singularity-buyfabrics.s3.amazonaws.com/products/48365/images/48365_23f56615-e459-4f38-a6c2-de8a377eb085.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  background: pink;
}
